body {
    font-family: 'sehnsucht', serif;
}

a {
    text-decoration: none;
    outline: none;
    color: #000;
}

a:focus {
    outline: none !important;
}

h1 {
    font-size: 24px !important;
}

.scroll-hidden {
    overflow: hidden;
}
