.container {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0;
    }
}
